<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <label>
        <input
          type="email"
          matInput
          placeholder="Your email"
          ngModel
          name="email"
          email
          required
          #email="ngModel">
      </label>
      <mat-error *ngIf="email.hasError('required')">This field must not be empty.</mat-error>
        <mat-error *ngIf="!email.hasError('required')">E-Mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input
          type="password"
          matInput
          placeholder="Your password"
          ngModel
          name="password"
          required
          #pw="ngModel">
      </label>
      <mat-error *ngIf="pw.hasError('required')">This field must not be empty.</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" [disabled]="f.invalid" color="primary" mat-raised-button type="submit">Submit</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
